<md-nav-list>
  <h3 md-subheader>Choose a demo</h3>
  <md-list-item *ngFor="let demo of demos">
    <md-icon color="primary" md-list-icon>{{demo.icon}}</md-icon>
    <a md-line [routerLink]="demo.route">{{demo.name}}</a>
  </md-list-item>
</md-nav-list>
