<app-top-nav></app-top-nav>

<form class="example-form" #colorInputForm="ngForm">
  <md-input-container>
    <input type="text" validateColor required [(ngModel)]="color" name="color" mdInput placeholder="Enter a color-string...">
    <md-error>
      Please enter a valid color-string!
    </md-error>
  </md-input-container>

  <p>See your color in action:</p>
  <div *ngIf="colorInputForm.valid" class="color-example-div" [ngStyle]="{'background-color': color}"></div>
  <div *ngIf="colorInputForm.invalid" class="color-example-div color-invalid"></div>
</form>
