.example-form {
  margin: 20px;
}

.color-example-div {
  width: 30px;
  height: 30px;
}

/* From: http://lea.verou.me/css3patterns/# */
.color-invalid {
  background-color: #eee;
  background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black),
  linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black);
  background-size: 10px 10px;
  background-position:0 0, 5px 5px
}
