<app-top-nav></app-top-nav>

<div class="example-margin">
  <button md-raised-button [disabled]="loading" (click)="getUsers()">Get Users</button>

  <md-progress-bar class="loading-indicator" *ngIf="loading" mode="indeterminate"></md-progress-bar>

  <md-list>
    <md-list-item *ngFor="let user of users">
      <h4 md-line>{{user.name}}</h4>
      <p md-line> {{user.email}} </p>
    </md-list-item>
  </md-list>
</div>
