// Base import for material theming
@import '~@angular/material/theming';

// Include the common styles for Angular Material
@include mat-core();

// Definition of bbraun-color-maps
// Generated here: http://mcg.mbitson.com/#!?bbraunprimary=%2300b482&bbraunaccent=%23711e82&bbraunwarn=%23e57228&themename=bbraunlight
$bbraun-primary-color-map: (
  50 : #e0f6f0,
  100 : #b3e9da,
  200 : #80dac1,
  300 : #4dcba8,
  400 : #26bf95,
  500 : #00b482,
  600 : #00ad7a,
  700 : #00a46f,
  800 : #009c65,
  900 : #008c52,
  A100 : #b8ffdd,
  A200 : #85ffc5,
  A400 : #52ffac,
  A700 : #39ffa0,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
$bbraun-accent-color-map: (
  50 : #eee4f0,
  100 : #d4bcda,
  200 : #b88fc1,
  300 : #9c62a8,
  400 : #864095,
  500 : #711e82,
  600 : #691a7a,
  700 : #5e166f,
  800 : #541265,
  900 : #420a52,
  A100 : #e187ff,
  A200 : #d454ff,
  A400 : #c721ff,
  A700 : #c008ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);
$bbraun-warn-color-map: (
  50 : #fceee5,
  100 : #f7d5bf,
  200 : #f2b994,
  300 : #ed9c69,
  400 : #e98748,
  500 : #e57228,
  600 : #e26a24,
  700 : #de5f1e,
  800 : #da5518,
  900 : #d3420f,
  A100 : #ffffff,
  A200 : #ffd8cd,
  A400 : #ffb09a,
  A700 : #ff9c80,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

// Define the resulting color palettes
$bbraun-primary-palette: mat-palette($bbraun-primary-color-map);
$bbraun-accent-palette: mat-palette($bbraun-accent-color-map);
$bbraun-warn-palette: mat-palette($bbraun-warn-color-map);

// Create the theme object
$bbraun-light-theme: mat-light-theme($bbraun-primary-palette, $bbraun-accent-palette, $bbraun-warn-palette);

// Include theme styles for core and each component
@include angular-material-theme($bbraun-light-theme);
